.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1b2d;
  padding: 0 2rem;
  height: 60px;
}

.navbar-logo {
  height: 40px;
  width: 40px;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: #ccc;
  font-size: 1rem;
  font-weight: normal;
}

.navbar-links li a.active {
  color: white;
  font-weight: bold;
}

.navbar-profile {
  display: flex;
  align-items: center;
}

.navbar-profile-icon {
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer;
}

.navbar-profile a.active .navbar-profile-icon {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #1c1b2d, #3420b7);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

.home-card {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  height: 600px;
  border-radius: 15px;
  background-color: #3b2e5a;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 95%;
  box-sizing: border-box;
  color: white;
  margin: 0 auto 1rem auto;
  position: relative;
}

.movie-card {
  display: flex;
  flex-direction: row;
  height: 200px;
  border-radius: 15px;
  background-color: #3b2e5a;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 95%;
  box-sizing: border-box;
  color: white;
  margin: 0 auto 1rem auto;
  position: relative;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  flex-grow: 1;
  height: 100%;
}

.movie-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.movie-date {
  font-size: 1.25rem;
  color: white;
  opacity: 0.6;
}

.movie-overview {
  margin-top: 0.2rem;
  font-size: 0.9rem;
  color: #ccc;
  font-style: italic;
  margin-bottom: 0;
}

.movie-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0;
}

.movie-rating label {
  font-size: 0.9rem;
  color: #ddd;
  margin: 0;
}

.movie-rating select {
  width: 100px;
  padding: 0.25rem;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #2c2541;
  color: #fff;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.movie-rating select:focus {
  border-color: #7161a0;
  box-shadow: 0 0 5px #7161a0;
}

.not-interested-button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  color: white;
  background-color: #d9534f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.not-interested-button:hover {
  background-color: #c9302c;
}

.movie-poster {
  height: 100%;
  width: auto;
  border-radius: 10px;
  margin-right: 1rem;
}

.movie-genres {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.genre-label {
  color: white;
  font-weight: bold;
}

.genre-list {
  color: #d8b4fe; /* Light purple */
}

.movie-runtime {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.runtime-label {
  color: white;
  font-weight: bold;
}

.runtime-list {
  color: #d8b4fe;
}

.movie-credits {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.movie-actors {
  font-size: 1rem;
}

.actors-label {
  color: white;
  font-weight: bold;
}

.actors-names {
  color: #d8b4fe;
}

.movie-director {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.director-label {
  color: white;
  font-weight: bold;
}

.director-name {
  color: #d8b4fe;
}